.scrollImage {
  position: fixed;
  bottom: 90px;
  right: 10px;
  z-index: 20;
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.scrollPath {
  transition: all 0.3s ease-in-out;
}

.scrollPath:hover {
  fill: #ff8a00;
}
